.picker {
  position: fixed;
  top: 24px;
  right: 24px;
  display: flex;
  gap: 4px;
  backdrop-filter: blur(14px);
  background-color: #222;
  padding: 4px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;

  div {
    cursor: pointer;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #999;
    transition: 0.15s;

    &:hover,
    &.current {
      background-color: #444;
      color: white;
    }
  }
}
