.song {
  display: flex;
  align-items: center;
  gap: 16px;
  transition: 0.15s;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #333;
  }

  .title {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
